body{
    background-color: rgb(123, 142, 175);
    font-size: 20px;
    color: aliceblue;
    }
    
header,footer{
    color: rgb(43, 53, 81);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
    
a {
    color: rgb(43, 53, 81);
    text-decoration: underline;
    font-weight: bold;
}

.error{
    color: rgb(247, 1, 1);
    background-color: rgb(235, 223, 146);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.bilet{
    font-weight: bold;
}

.snow{
    color: blue;
}

.text_input_form{
    font-size: 24px;
    color: rgb(119, 0, 255);
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgb(119, 0, 255);
    border-radius: 0.25rem;
    height: 40px;
    width: 400px;
}

.error_2{
    font-size: 20px;
    color: crimson;
    background-color: #e7b9b9;
    background-clip: padding-box;
    border-radius: 0.25rem;
    width: 400px;
    margin-top: 20px;
    text-align: center;
}

.lab5{
    color: rgb(119, 0, 255);
    font-weight: bold;
    font-size: 40px;}
.bl_5_1{
    font-size: 25px;
    font-weight: lighter;
    margin-left: 300px;
    margin-top: -40px;}
.bl_5_2{
    margin-left: 600px;
    margin-top: -28px;}
.bl_5_button{
    font-size: 20px;
    color: rgb(119, 0, 255);
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    height: 30px;
    width: 200px;}
.bl_5_button_2{
    margin-left: 1100px;
    background-color: rgb(119, 0, 255);
    color: rgb(255, 255, 255);}
.bl_5_3{
    margin-top: -25px;
    margin-left:850px;}
.bl_5_4{
    margin-top: -30px;
    margin-left: -30px;
}
.bl_5_5{
    font-weight: lighter;
    margin-left:1300px;
    margin-top: -40px;
}

.bl_5_6{margin-top: 20px;}