body{
    background-color: rgb(123, 142, 175);
    font-size: 20px;
    color: aliceblue;
    }
    
header,footer{
    color: rgb(43, 53, 81);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
    
a {
    color: rgb(43, 53, 81);
    text-decoration: underline;
    font-weight: bold;
}

.error{
    color: rgb(247, 1, 1);
    background-color: rgb(235, 223, 146);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}