{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<h1>Язык цветов</h1>

<h2>Астра</h2>
<div>Символ любви, изящества, изысканности, а также — воспоминаний. В Китае астра означает точность. 
    Древние люди верили, что запах листов астры, когда их сжигали, изгонял змей. Астры были положены в могилы 
    французских солдатов, символизируя скорбь и память о погибших. Существует миф, согласно которому астры были созданы 
    из космической пыли, когда Дева смотрела с неба и плакала. поэт Вирджил считал, что алтари богов были часто украшены астрами.</div>
<img src="..\static\f1.jpeg" height="350px">

<h2>Георгин</h2>
<div>каприз, непостоянство, мимолетное увлечение. 
    Дарящий георгины говорит: «Ты мне очень нравишься, но я ничего не обещаю», 
    «Я не готов к серьезным отношениям», «Зачем все усложнять?»</div>
<img src="..\static\f2.jpg" height="350px">

<h2>Гиацинт</h2>
<div>Игра, любопытство, мудрость, непредсказуемость, достижения, спорт. 
    Спектр эмоций, которые можно выразить при помощи этих цветов достаточно широк — многое зависит от оттенка гиацинтов. 
    Однако будьте уверены: вам не придется скучать с человеком, который подарил вам гиацинты. Благодаря ему ваша жизнь станет ярче.</div>
<img src="..\static\f3.jpg" height="350px">


<h2>Камелия</h2>
<div>Восхищение, совершенство, благодарность. «Ты — неземное существо». Очень хороший подарок мужчине.</div>
<img src="..\static\f4.jpg" height="350px">

<h2>Лотос</h2>
<div>Счастье, здоровье, долгая жизнь, мудрость. 
    Лотос принято дарить только хорошо знакомым людям в знак родственных и дружеских чувств.</div>
<img src="..\static\f5.jpg" height="350px">
{% endblock %}